## Import data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("expenses.csv")
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
data.sex.unique(),data.smoker.unique(),data.region.unique()

(array(['female', 'male'], dtype=object),
 array(['yes', 'no'], dtype=object),
 array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object))

In [6]:
def encode_sex(x):
   return 0 if x=="female" else 1

def encode_smoker(x):
   return 0 if x=="no" else 1

In [7]:
data['sex_category']=data['sex'].map(encode_sex)
data['smoker_category']=data['smoker'].map(encode_smoker)
data=pd.get_dummies(data, columns=['region'])
data=data.drop(columns=['sex','smoker'])

In [8]:
data.head(5)

,age,bmi,children,charges,sex_category,smoker_category,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,0,1
1,18,33.770,1,1725.55230,1,0,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0,0
4,32,28.880,0,3866.85520,1,0,0,1,0,0

## Splitting data for training and testing

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import RobustScaler, StandardScaler

In [54]:
X=data.drop(columns='charges')
y=data['charges']

In [55]:
# transformer = StandardScaler().fit(X)
# X=transformer.transform(X)

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

X_train.shape,X_test.shape,y_train.shape,y_test.shape

((936, 9), (402, 9), (936,), (402,))

In [57]:
model=LinearRegression().fit(X_train,y_train)

In [58]:
model.score(X_test,y_test)

0.791551019405226

In [59]:
model.predict([[60,29,5,1,0,0,0,0,1]])

array([14221.72143951])